.p{
 font-family: fantasy;
 color:green;
 font-size: 20px;
 text-align: center;
}
.re{
  font-family: cursive;
  color: forestgreen;
  font-size: 25px;
}
.d{
  font-family: cursive;
  color:forestgreen;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
.img{
  border-radius: 50%;
}
.sd{
  box-shadow: 2px 2px 5px;
}
